<div class="container-fluid d-flex justify-content-end border" style="position: fixed; left: 0; bottom: 0; height: 8%;background-color: #F8F9FA ;">
    <figure class="m-1">
      <blockquote class="blockquote">
        <p>Node js Authenticator developed by</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        <cite title="Source Title">Ishaan Gupta</cite>
      </figcaption>
    </figure>
  </div>