<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" id="logo">Node js Authenticator</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="container d-flex justify-content-end">
        <% if(locals.user) {%>
            <div class="p-2"><a href="/auth/destroy-session"><button type="button" class="btn btn-outline-primary">Sign out</button></a></div>
        <%} else{%>
        <div class="p-2"><a href="/login-page"><button type="button" class="btn btn-outline-primary">Sign in</button></a></div>
        <div class="p-2"><a href="/register-page"><button type="button" class="btn btn-primary">Create an account</button></a></div>
        <%}%>
      </div>
    </div>
  </div>
</nav>