<link rel="stylesheet" href="/css/sign_up_page.css">
<div class="row mt-5">
  <div class="col-md-4 m-auto">
    <div class="card">
      <div class="card-body">

        <h2 class="card-title">
          Forgot Password
        </h2>
        <p> A reset link will be sent to the registered email ID, using which you can reset your password</p>
        <form class="row g-3 needs-validation mt-2" novalidate action="/auth/forgot-password" method="POST">
          <div class="row-md-5">
            <div class="col-md-12 form-floating">
              <input type="email" class="form-control" id="email-input" placeholder="test@example.com" required name="email">
              <label for="email-input" class="form-label">Email id</label>
              <div class="invalid-feedback" id="email-invalid">
                <% if (typeof errors.email_error_msg != 'undefined') { %>
                    <%= errors.email_error_msg %>
                    <% } else { %>
                    Choose a valid email address
                    <% } %>
              </div>
            </div>
          </div>
          <div class="row m-auto mt-5">
            <div class="col-md-7">
              <p> <a href="/login-page">Login</a></p>
            </div>
            <div class="col-md-5 text-end">
              <button class="btn btn-primary ms-3" type="submit">Send me the link</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/js/forgot_password_page.js"></script>