<div class="row mt-5">
  <div class="col-md-5 m-auto">
    <div class="card text-bg-light">
      <div class="card-header text-center">
        <h2>A secure way to Authenticate Users</h2>
      </div>
      <div class="card-body">
        <p class="card-text">
          Read the <a href="https://github.com/ishaan-gupta-developer/nodejs-authenticator" target="_blank">docs</a> to know all the features and tech stack for this app
        </p>
      </div>
    </div>
  </div>
</div>
<span style="display: none;" id="hidden"><%= msg %></span>
<script src="/js/home_page.js"></script>