<link rel="stylesheet" href="/css/sign_up_page.css">
<div class="row mt-5">
  <div class="col-md-4 m-auto">
    <div class="card">
      <div class="card-body">

        <h2 class="card-title">
          Reset Password
        </h2>
        <form class="row g-3 needs-validation mt-2" novalidate action="/auth/reset-password/<%= id %>" method="POST">
          <div class="row-md-5">
            <div class="col-md-6 form-floating">
              <input type="password" class="form-control" id="password-input" placeholder="password" aria-describedby="password-empty" required name="password">
              <label for="password-input" class="form-label">Password</label>
              <div class="invalid-feedback" id="password-empty">
                Enter a password
              </div>
              <div class="invalid-feedback" id="password-mismatch" style="display: none;">
                Those passwords didn't match. Try again.
              </div>
              <div class="invalid-feedback" id="password-length-invalid" style="display: none;">
                Use 8 characters or more for your password
              </div>
            </div>
          </div>
          <div class="row-md-5">
            <div class="col-md-6 form-floating">
              <input type="password" class="form-control" id="confirm-password-input" placeholder="confirm-password" aria-describedby="confirm-password-empty" required name="confirm_password">
              <label for="confirm-password-input" class="form-label">Confirm Password</label>
              <div class="invalid-feedback" id="confirm-password-empty">
                Confirm your password
              </div>
            </div>
          </div>
          <div class="row m-auto mt-5 d-flex justify-content-end">
            <div class="col-md-5 text-end">
              <button class="btn btn-primary ms-3" type="submit" onclick="validatePassword()">Reset password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/js/reset_password_page.js"></script>